name: Build HTML

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: list files in repository
        run: ls ${{ github.workspace }}
      - name: Setup mdBook
        uses: peaceiris/actions-mdbook@v2
        with:
          mdbook-version: '0.4.40'
          # mdbook-version: 'latest'

      - run: mdbook build

      - name: deploy to pages
        uses: peaceiris/actions-gh-pages@v4
        if: ${{ github.ref == 'refs/heads/master' }}
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          external_repository: ts4z/ts4z.github.io
          publish_branch: main
          publish_dir: ./book
          personal_token: ${{ secrets.PERSONAL_TOKEN }}
          destination_dir: barge-rulebook
          
