name: Build HTML

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-deploy-to-github-pages:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - name: checkout source
        uses: actions/checkout@v4
      - name: setup mdbook
        uses: peaceiris/actions-mdbook@v2
        with:
          mdbook-version: '0.5.1'
          # mdbook-version: 'latest'
      - name: build book with mdbook
        run: mdbook build
      # - name: deploy to ts4z.github.io
      #   uses: peaceiris/actions-gh-pages@v4
      #   if: ${{ github.ref == 'refs/heads/main' }}
      #   with:
      #     deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
      #     external_repository: ts4z/ts4z.github.io
      #     publish_branch: main
      #     publish_dir: ./book
      #     personal_token: ${{ secrets.PERSONAL_TOKEN }}
      #     destination_dir: barge-rulebook
      - name: deploy to barge.org github repository
        uses: cpina/github-action-push-to-another-repository@v1.7.2
        env:
          SSH_DEPLOY_KEY: ${{ secrets.SSH_DEPLOY_KEY }}
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          source-directory: book
          destination-github-username: ts4z
          destination-repository-name: barge.org
          target-directory: static/rulebook
          target-branch: main
